{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * k4 Assets Browser plugin for Craft CMS 3.x
 *
 * k4 Assets Browser Settings.twig
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      https://kreisvier.ch
 * @package   K4AssetsBrowser
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("k4\\k4assetsbrowser\\assetbundles\\k4assetsbrowser\\K4AssetsBrowserAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
